body{
    font-family: 'Montserrat', sans-serif;
    background-color:#F8F9FA;
    color:#252422 !important;
}
.header, .footer{
    background-color:#252422;
    color:#F8F9FA;
}
.bg-green{
    background-color:#FB5607;
    
}
.bg-gray{
    background-color:#252422;
    color:#F8F9FA;
}

.btn-green{
    background-color:#eb5e28 !important;
    color:#F8F9FA !important;
    transition:.5s;
}

.btn-green:hover{
    background-color:#ff6b35 !important;
    color:#F8F9FA !important;
    transition:.5s;
}

.btn-gray{
    background-color:#252422!important;
    color:#F8F9FA !important;
    transition:.5s;
}

.btn-gray:hover{
    background-color:#403d39 !important;
    color:#F8F9FA !important;
    transition:.5s;
}

.btn-orange{
    background-color:#FB5607;
    color:#F8F9FA !important;
    transition:.5s;
}

.btn-orange:hover{
    background-color:#eb5e28;
    color:#F8F9FA !important;
    transition:.5s;
}

.feed-panel{background-color:#fff;}

ul.share-icons{
    margin:0px;
    padding:0px;
}

ul.share-icons > li{
    display:inline-block;
    margin:10px;
}

.text-gray{color:#252422 !important;}

.data-labels{
    background-color:#ccc5b9;
    padding:5px 30px;
    font-size:.9em;
    border-radius:3px;
}

.fs-9{font-size:.9em;}

ul.label-list li{
    display:inline-block !important;
    margin-right:5px;
    margin-bottom:15px;
}