body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    background-color:#F8F9FA !important;
    color:#252422 !important;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.header, .footer{
    background-color:#252422;
    color:#F8F9FA;
}

ul.menu-list li{
   border-right:1px solid gray;
}
ul.menu-list li:nth-child(4){
    border-right:0px;
 }

 .brand-color{
    background-color:#ffd60a !important;
    color:#252422 !important;
 }

 .brand-link{
    color:#ffd60a !important;
 }
 /* ul.menu-list li> a{transition:.5s;}
 ul.menu-list li> a:hover{
    color:#FB5607 !important;
    transition:.5s;
 } */
.text-orange{color:#FB5607;}
.text-light-orange{color:#f4a261;}
.filter-label{
    background-color:#f4a261;
    padding:5px 10px;
    border-radius:15px;
    margin-bottom: 5px;
    font-size:.8em;
    align-items: middle;
    margin-right:5px;
    display:inline-block;
}
.filter-label::after{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-label-delete{
    background-color:black;
    color:white;
    padding:5px;
    border:0px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float:right;
    margin-right:5px;
    cursor:pointer;
    text-align:middle;
    width:25px;
    margin-left:10px;
    font-weight:bold;
    height:25px;
}

.page-banner{
    background-color:#f7f9f9;
}

/* .bg-green{
    background-color:#FB5607;
    
}
.bg-gray{
    background-color:#252422;
    color:#F8F9FA;
} */

.link-color{
    color:#457b9d;
}

/* 
.btn-green{
    background-color:#eb5e28 !important;
    color:#F8F9FA !important;
    transition:.5s;
} */

/* .btn-green:hover{
    background-color:#ff6b35 !important;
    color:#F8F9FA !important;
    transition:.5s;
} */

/* .btn-gray{
    background-color:#252422!important;
    color:#F8F9FA !important;
    transition:.5s;
} */

/* .btn-gray:hover{
    background-color:#403d39 !important;
    color:#F8F9FA !important;
    transition:.5s;
} */

/* .btn-orange{
    background-color:#FB5607;
    color:#F8F9FA !important;
    transition:.5s;
} */

/* .btn-orange:hover{
    background-color:#eb5e28;
    color:#F8F9FA !important;
    transition:.5s;
} */

.feed-panel{background-color:#fff;}

ul.share-icons{
    margin:0px;
    padding:0px;
}

ul.share-icons > li{
    display:inline-block;
    margin:10px;
}

.text-gray{color:#252422 !important;}

.data-labels{
    background-color:#F2F2F2;
   font-size:.8em;
   padding:3px 10px;
   border-radius:6px;
   /* border:1px solid gray; */
}

.share-panel{
    width:200px;
    background-color:white;
    /* top:-270px; */
    top:-220px;
    right:-50px;
    padding:15px;
}

.share-panel ul{margin:0px; padding:0px; list-style: none;}
.share-panel li{margin:13px;}

.fs-9{font-size:.9em;}
.fs-8{font-size:.8em;}

ul.label-list li{
    display:inline-block !important;
    margin-right:5px;
    margin-bottom:5px;
    color:#264653;
}

ul.label-list{
    padding:0px;
    display:block !important;
}

.fixed-footer-bar{
    background-color:#252422;
    color:#F8F9FA;
    position:fixed;
    bottom:15px; 
    padding:15px;
    left:15px; 
    right:15px;
}

.subscription-alert{
    /* background-color:#e63946; */
    top:-100px;
    top:-250px;
    padding:15px;
    border-radius:6px;
    /* color:#f1faee; */
    display:none;
    left:0px;
    right:0px;
    text-align: left!important;
}

.alert-indicator{
    width:10px;
    height:10px;
    background-color:red;
    position:absolute;
    right:5px;
    border-radius:100%;
}